@charset "UTF-8";

body{
    background-image: linear-gradient(to right,  #49a09d, #5f2c82);
}

div img{
    width: 400px;
    height: 335px;

    position: absolute;
    top: 29.4%;
    left: 49%;

    transform: scaleX(-1);
    border-radius: 10px 0px 0px 10px;
}

section{
    position: absolute;
    top: 50%;
    left: 35%;

    transform: translate(-50%, -50%);

    width: 490px;
    height: 339px;
    border-radius: 10px 0px 0px 10px ;
}


.login{
    margin: auto;
    background-color: rgb(22, 172, 172);
    width: 420px;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cor {
    background-color: rgba(173, 243, 243, 0.859);
    width: 345px;
    border-radius: 5px;
    padding: 13px;
}

.botao {
    display: block;
    margin: auto;
    width: 425px;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 5px;
}