@charset "UTF-8";

body{
    background-color: #5f2c82;
}

div img{
    width: 360px;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px 10px 0px 0px;

    position: absolute;

    top: 15%;
    left: 52%;

    transform: translate(-50%, -50%);
}

section{
    position: absolute;

    top: 52%;
    left: 52%;

    transform: translate(-50%, -52%);

    width: 360px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

section > form{
    padding: 10px;
}

form{
    border-radius: 0px 0px 10px 10px;
}


.login{
    background-color: rgb(22, 172, 172);
    width: 335px;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cor {
    background-color: rgba(173, 243, 243, 0.859);
    width: 260px;
    border-radius: 5px;
    padding: 13px;
}

.botao {
    width: 340px;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 5px;
}