@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

.cabeçalho-menu ul {
    text-align: right;
    padding: 10px;
}

.cabeçalho-menu li {
    display: inline-block;
    text-transform: uppercase;
    margin: 20px 0;
}

.cabeçalho-menu a {
    text-decoration: none;
    background-color: #808080b3;
    color: white;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
}

.cabeçalho-menu a:hover {
    background-color: rgb(88, 88, 88);
}

.cabeçalho {
    background-image: url(../imagens/bg-4.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 380px;
}

.cabeçalho div {
    margin-top: 80px;
    text-align: center;
}

.cabeçalho h1 {
    text-transform: uppercase;
    color: white;
}

.cabeçalho p.center {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.601);
    text-align: center;
    margin: 50px;
    padding: 12px;
    border-bottom: 2px solid;
} 

article {
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
}

article h1 {
    background-color: rgb(234, 234, 234);
    border-bottom: 2px solid rgba(0, 0, 0, 0.321);
    padding: 10px;
    margin-bottom: 15px;
}

article p {
    margin-bottom: 15px;
}

.btn {
    background-color: rgb(189, 188, 188);
    display: block;
    text-align: center;
    margin-left: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 20px;
    letter-spacing: 2px;
}
